<h1>物件一覧</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<table>
  <th>物件名</th>
  <th>賃料</th>
  <th>住所</th>
  <th>築年数</th>
  <th>備考</th>
  <th>駅</th>
  <th>路線</th>
  <th>徒歩分数</th>
  <th>駅</th>
  <th>路線</th>
  <th>徒歩分数</th>
<% @estates.each do |estate| %>
<tr>
  <td><%= estate.name%></td>
  <td><%= estate.fee %>円</td>
  <td><%= estate.adress %></td>
  <td><%= estate.age %>年</td>
  <td><%= estate.note %></td>
  <td><%= estate.station.station1%></td>
  <td><%= estate.station.line1 %></td>
  <td><%= estate.station.walking_minutes1 %>分</td>
  <td><%= estate.station.station2 %></td>
  <td><%= estate.station.line2 %></td>
  <td><%= estate.station.walking_minutes2 %>分</td>
  <td><%= link_to "詳細画面へ",estate_path(estate.id) %></td>
  <td><%= link_to "編集画面へ",edit_estate_path(estate.id) %></td>
  <td><%= link_to "削除",estate_path(estate.id), method: :delete, data: {confirm: "本当に削除しますか？" } %></td>
</tr>
<% end %>
</table>
<td><%= link_to "物件を登録する",new_estate_path%>
