<h1>物件一覧</h1>
<table>
  <th>物件名</th>
  <th>賃料</th>
  <th>住所</th>
  <th>築年数</th>
  <th>備考</th>

<% @estates.each do |estate| %>
<tr>
  <td><%= estate.name %></td>
  <td><%= estate.fee %></td>
  <td><%= estate.adress %></td>
  <td><%= estate.age %></td>
  <td><%= estate.note %></td>
</tr>
<% end %>
</table>
