<h1>物件登録</h1>
<p><%= notice %></p>
<%= form_for(@estate,local:true) do |f|%>
  <div class="estates.info">
    <%= f.label :name%><br>
    <%= f.text_field :name%>
  </div>
  <div class="estates.info">
    <%= f.label :fee%><br>
    <%= f.text_field:fee%>
  </div>
  <div class="estates.info">
    <%= f.label:adress%><br>
    <%= f.text_field:adress%>
  </div>
  <div class="estates.info">
    <%= f.label:age%><br>
    <%= f.text_field:age%>
  </div>
  <div class="estates.info">
    <%= f.label:note%><br>
    <%= f.text_area:note%>
  </div>
<hr>
<%= f.fields_for :station do |f|%>
  <div class = "estates.info">
    <%= f.label :station1%><br>
    <%= f.text_field :station1%>
  </div>
  <div class = "estates.info" >
    <%= f.label :line1%><br>
    <%= f.text_field:line1%>
  </div>
  <div class = "estates.info" >
    <%= f.label :walking_minutes1%><br>
    <%= f.text_field:walking_minutes1%>
  </div>
  <div class = "estates.info">
    <%= f.label :station2%><br>
    <%= f.text_field :station2%>
  </div>
  <div class = "estates.info" >
    <%= f.label :line2%><br>
    <%= f.text_field:line2%>
  </div>
  <div class = "estates.info" >
    <%= f.label :walking_minutes2%><br>
    <%= f.text_field:walking_minutes2%>
  </div>
<% end %>
<%= f.submit "登録する" %>
<% end %>
