<div class = "estate-show">
  <p>物件名:<%= @estate.name%></p>
  <p>賃料:<%= converting_to_jpy(@estate.fee)%></p>
  <p>住所:<%= @estate.adress%></p>
  <p>築年数:<%= @estate.age%>年</p>
  <p>備考:<%= @estate.note%></p>
</div>
<hr>
<h2>最寄り駅1</h2>
<div class = "estate-show">
  <p>路線名:<%= @estate.station.line1 %></p>
  <p>駅名:<%= @estate.station.station1%></p>
  <p>徒歩分数:<%= @estate.station.walking_minutes1%>分</p>
</div>
<h2>最寄り駅2</h2>
<div class = "estate-show">
  <p>路線名:<%= @estate.station.line2%></p>
  <p>駅名:<%= @estate.station.station2%></p>
  <p>徒歩分数:<%= @estate.station.walking_minutes2%>分</p>
</div>
<%= link_to "編集",edit_estate_path(@estate.id) %>|
<%= link_to "戻る",estates_path %>
