<div class = "estate-show">
  <p>物件名:<%= @estate.name%></p>
  <p>賃料:<%= converting_to_jpy(@estate.fee)%></p>
  <p>住所:<%= @estate.adress%></p>
  <p>築年数:<%= @estate.age%>年</p>
  <p>備考:<%= @estate.note%></p>
</div>
<hr>
<% @estate.stations.each.with_index(1) do |estate,index| %>
<h2>最寄り駅<%= index %></h2>
<div class = "estate-show">
  <p>駅名:<%= estate.line1%></p>
  <p>路線名:<%= estate.station1 %></p>
  <p>徒歩分数:<%= estate.walking_minutes1%>分</p>
</div>
<% end %>
<%= link_to "編集",edit_estate_path(@estate.id) %>|
<%= link_to "戻る",estates_path %>
